
body{
    font-family: "Gabarito", serif;
    margin: 0;
    padding: 0;
}


/*---------------------- Navbar -------------------- */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    /* box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2); */
}
.logo-img{
    height: 30px;
    width: 30px;
}
#navbar h2{
    color: #2bb471;
}
#navbar ul{
    display:  flex;
}
#navbar ul li{
    list-style: none;
    padding: 8px 15px;
}
#navbar ul li:hover{
    background-color: #1bb965;
    color: white;
    border-radius: 4px;
}
.nav-icons i{
    padding: 10px;
}
.nav-icons i:hover{
    border-radius: 50%;
    background-color: #1bb965;
    padding: 10px;
    color: white;
}


/*----------------- Hero -------------------- */


.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
  }

  .hero-sec{
    display: none;
    justify-content: space-around;
    align-items: center;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.hero-sec-content h6{
    margin: 0;
    font-weight: lighter;
    font-size: 22px;
    color: #2bb471;
}
.hero-sec-content h1{
    font-size: 42px;
    color: #0d0d6f;
}
.hero-sec-content p{
    font-weight: 200;
    font-size: 18px;
    color: #5E686D;
}
.hero-sec-content button{
    background-color: #0d0d6f;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 2px;
    font-size: 14px;
}
.hero-sec img{
    height: 80vh;
}


/*-----------Popular-----------*/
.popular {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1000px;
    margin: 50px auto; 
    padding: 20px; 
   
}

.popular-sec {
    width: 100%; 
    overflow: hidden; 
    border: none;
    border-radius: 6px;
    transition: transform .2s;
 
}
.popular-sec:hover{
    transform: scale(0.7);
}

.popular-sec img {
    width: 100%; 
    height: auto; 
    display: block;
}
.popular-sec p{
    text-align: center;
    font-weight: 100;
}
